{% extends "!layout.html" %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ pathto('_static/geomoose.css', 1) }}"/>
{% endblock %}

{% block header %}
<div style="background-color: white">
	<!--<div style="float: left; padding: 30px 10px 15px 15px">-->

	<div style="padding-top: 1em">
		<div style="float: left">	
			<a href="http://www.geomoose.org"><img src="{{ pathto("_static/logo_2011.png", 1) }}" alt="GeoMOOSE Logo"/></a>
		</div>

	<div style="padding:10px; background-color: white; text-align: right; float: right; vertical-align: bottom;">
		<span style="font-size: large">
    <a href="http://www.geomoose.org">Project Home</a> |
		<a href="{{ pathto('index') }}" title="Documentation Index">Documentation Index</a> |
		<a href="{{ pathto('getting_started') }}">Getting Started</a> |
		<a href="{{ pathto('developer/index') }}" title="GeoMOOSE Developer Documentation">Developer Documentation</a>
		</span>
	</div>

  </div>
	<div style="clear: both"></div>


	{{ super () }}
</div>
{% endblock %}
